<div class="navbar-fixed">
<nav>
<div class="nav-wrapper">
  <a href="/" class="brand-logo">A Csillagászat Atlasza</a>
  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="/">Főoldal</a></li>
      {% if user.is_authenticated %}
        <li><a href="/quiz">Kvíz</a></li>
        <li><a href="/account">{{user.username}}</a></li>
        <li><a href="/logout">Kilépés</a></li>
      {% else %}
        <li><a href="/register">Regisztráció</a></li>
        <li><a href="/login">Belépés</a></li>
      {% endif %}
  </ul>
</div>
</nav>
</div>>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Főoldal</a></li>
    {% if user.is_authenticated %}
        <li><a href="/quiz">Kvíz</a></li>
        <li><a href="/account">{{user.username}}</a></li>
        <li><a href="/logout">Kilépés</a></li>
    {% else %}
        <li><a href="/register">Regisztráció</a></li>
        <li><a href="/login">Belépés</a></li>
    {% endif %}
</ul>